@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        @apply focus:outline-none rounded-md
    }
}

@layer components {
    .base-box{
        @apply flex flex-col flex-grow max-w-6xl mx-auto w-full h-full items-center space-y-2 m-5 px-3 sm:px-5 py-2 bg-white shadow rounded-sm
    }

    .btn-link {
        @apply text-blue-600 hover:text-opacity-75 cursor-pointer
    }

    .btn {
        @apply inline-block py-2 px-4 text-sm border border-transparent rounded-md shadow-sm font-medium text-white hover:bg-opacity-75
    }

    .btn-primary {
        @apply btn  bg-brand
    }


    .btn-secondary {
        @apply btn text-gray-700 bg-white border-gray-50 border border-gray-100
    }

    .btn-warn {
        @apply btn  bg-red-400
    }



    .btn-disable {
        @apply btn text-white bg-gray-500 cursor-not-allowed
    }


    .input-primary {
        @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400
        focus:outline-none focus:ring-brand-light focus:ring-brand-light sm:text-sm
    }

    .most-line-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .most-line-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .most-line-3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }



}

